.main{
    height: 100%;
    background: url("background.jpg") center top no-repeat;
    background-size: cover;
}
.box{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.45);
    position: center;
    padding-top: 4%;
    border-radius: 15px;
    height: 55rem;
    margin-left: 20%;
    margin-top: 2%;
    margin-right: 20%;
}
@media (min-width:  660px) {
    .box {
        height: 48rem;
        padding: 2%;
    }
}

.logo{
    width: 250px;
    height: 120px;
}
@media (max-width:  415px) {
    .logo {
        width: 160px;
        height: 100px;
    }
}
.box h1{
    color: rgba(0,221,0,255);
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-weight: 600;
}
.nav{
    background-color: rgba(0,221,0,255);
    height: 80px;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
@media (min-width:  660px) {
    .nav {
        width: 85%;
        height: 18px;
        flex-direction: row;
    }
}
@media (max-width:  320px) {
    .nav {
        width: 85%;
        background-color: rgba(0,221,0,0.0);
        height: 70px;
        flex-direction: column;
    }
}

.buttone { 
    height: 20px;
    margin: 3px; 
}
#centro {
  margin: 0 auto;
  padding: 15px;
}
.item{
    margin-top: 2%;
    text-align: left;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}
.monopattino_nome{
    color: white;
    font-size: 20px;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-weight: bold;
}
.item p{
    color: white;
    font-size: 15px;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-weight: 300;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.StatoCarica{
    margin-top: 5px;
}
#StatoCarica1{
    background-color: rgba(245,180,83,255);
    height: 35px;
    border-radius: 5px;
    width: 35%;
    display: flex;
    justify-content: center; 
}
#StatoCarica2{
    background-color: rgba(30,195,30,255);
    height: 35px;
    border-radius: 5px;
    width: 60%;
    display: flex;
    justify-content: center; 
}
#StatoCarica3{
    background-color: rgba(190,65,65,255);
    height: 35px;
    border-radius: 5px;
    width: 15%;
    display: flex;
    justify-content: center; 
}